h1 {
  font-family: monospace;
  font-size: 2rem;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}

.centered {
  /* width: 50%;
  margin: 0 auto; */
  text-align: center;
}

.right {
  text-align: right;
}

.lottie {
  position: fixed;
  width: 80vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -40vw;
}

.tip {
  position: absolute;
  top: 80%;
  left: 60vw;
  padding-right: 1rem;
  color: orange;
}

.title {
  color: orangered;
}
